# Usage:
#
# deploy:
#   uses: mhils/workflows/.github/workflows/python-deploy.yml@main
#   needs: check
#   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
#   secrets:
#     password: ${{ secrets.PYPI_TOKEN }}

on:
  workflow_call:
    inputs:
      environment:
        type: string
      artifact:
        type: string
      repository:
        type: string
    secrets:
      username:
      password:
        required: true

jobs:
  deploy:
    environment: ${{ inputs.environment || 'deploy' }}
    env:
      TWINE_USERNAME: ${{ secrets.username || '__token__' }}
      TWINE_PASSWORD: ${{ secrets.password }}
      TWINE_REPOSITORY: ${{ inputs.repository || 'pypi' }}
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install -y twine
      - uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact || 'wheels' }}
          path: dist/
      - run: twine check dist/*
      - run: twine upload dist/*
