# Usage:
#
# test:
#   strategy:
#     matrix:
#       include:
#         - os: windows-latest
#         - os: macos-latest
#         - os: ubuntu-latest
#           rust: "1.71"
#   uses: mhils/workflows/.github/workflows/rust-test.yml@main
#   with:
#     os: ${{ matrix.os }}
#     rust: ${{ matrix.rust }}

permissions:
    contents: read

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: ubuntu-latest
      rust:
        type: string
        required: false

jobs:
  test:
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up Rust toolchain
      if: inputs.rust
      run: rustup toolchain install ${{ inputs.rust }} --profile minimal
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2
      timeout-minutes: 2
      continue-on-error: true
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}  # harden against cache poisoning
    - run: cargo test --workspace --all-features
