# Usage:
#
# deploy:
#   uses: mhils/workflows/.github/workflows/rust-deploy.yml@main
#   needs: check
#   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
#   secrets:
#     cargo-registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      environment:
        type: string
    secrets:
      cargo-registry-token:
        required: true

jobs:
  deploy:
    environment: ${{ inputs.environment || 'deploy' }}
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.cargo-registry-token }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - run: cargo publish
